.grid-container{
    display: grid;
    /* TO give assign the number of columns and the width size we want */
    grid-template-columns: 400px 100px;
    align-items: center;
    margin: auto;
    padding-right:200px ;
    justify-content: center;
    /* To give gap between the columns we use grid-columns-gap */
    grid-column-gap:1px;
    /* To give gap between the rows we use grid-row-gap */
    grid-row-gap: 50px;
    grid-auto-rows: minmax(150px, auto);
}
.grid-image{
    height: 250px;
    width: 250px;
    border: 2px solid white;
}
#heading{
    display: flex;
    justify-content: center;
    color: rgb(26, 177, 236);
}
body{
    background-color: black;
    border:5px solid white ;
}
